<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Python Script</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .vs-image {
            display: block;
            max-width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .battle-title {
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            color: #ff3333;
            text-shadow: 2px 2px 4px #000000;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <h1 class="battle-title">人間　VS　AI<br>究極の画像分類バトル！！</h1>
    <img src="{{ url_for('static', filename='images/button/human_vs_ai.png') }}" alt="人間 vs AI" class="vs-image">
    <form action="/quiz" method="post">
        <button type="submit" style="display: block; margin: 0 auto; font-size: 1.5rem; padding: 0.5rem 1rem; background-color: #ff3333; color: #fff; border: none; border-radius: 0.5rem; box-shadow: 2px 2px 4px #000000;">BATTLE START !!</button>
    </form>
</body>
</html>