<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model and Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>モデルの.ptファイルと画像をアップロードしてください</h1>
    <form action="/upload_file" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile[]" webkitdirectory>
        <button type="submit">ファイルをアップロード</button>
    </form>
</body>
</html>
